@font-face {
    font-family: 'Telegrafico';
    src: url('./resources/fonts/telegraphico/Telegrafico.woff2') format('woff2'),
        url('./resources/fonts/telegraphico/Telegrafico.woff') format('woff'),
        url('./resources/fonts/telegraphico/Telegrafico.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body */

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.375rem;
    letter-spacing: 0rem;
}

/* navigation bar */

.navigation_bar {
    width: 100%;
    height: 6.25rem;
    background-color: rgb(36, 36, 36);
    border-bottom: 1px solid mintcream;
    position: fixed;
    z-index: 5;
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    max-height: 98%;
    width: auto;
    margin-left: 1rem;
}

.navigation_bar ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    float: right;
    align-content: center;
    margin-right: 1rem;
}

.navigation_bar li {
    display: block;
    padding: 0 0.5rem;
}

.navigation_bar a {
    color: #fff;
    text-decoration: none;
    transition: font-size 0.2s ease-in, color 0.2s ease-in;
}

.navigation_bar a:link {
    color: #fff;
}

.navigation_bar a:visited {
    color: #fff;
}

.navigation_bar a:hover {
    color: darkcyan;
    font-size: 1.15rem;
}

.navigation_bar a:active {
    color: #fff;
}

@media only screen and (max-width: 850px) {
    .navigation_bar li {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 480px) {
    .navigation_bar li {
        font-size: 0.5rem;
        padding: 0.1rem;
    }
}

/* banner */

.banner {
    position: relative;
    width: 100%;
    height: 37.5rem;
    color: #fff;
    background-image: url(./resources/images/babco_banner_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.banner-content-desktop {
    color: whitesmoke;
    text-align: center;
    width: 40%;
    height: auto;
    padding: 5rem 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0.625rem;
}

.banner-content-desktop h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    font-family: "Telegrafico", sans-serif;
}

.banner-content-desktop h2 {
    margin-top: 1.35rem;
}

.banner-content-desktop h3 {
    padding-bottom: 1rem;
    font-weight: 300;
}

.banner-content-mobile {
    display: none;
}

@media only screen and (max-width: 850px) {

    .banner-content-desktop {
        display: none;
    }

    .banner-content-mobile {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.5);
        text-align: center;
    }

    .banner-content-mobile h1 {
        font-family: 'Telegrafico', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    .banner-content-mobile h2 {
        max-width: 80%;
        margin-top: 1.15rem;
    }

    .banner-content-mobile h3 {
        font-weight: 300;
    }
}

/* the food section */

.the-food {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 3rem;
}

.the-food .write-up {
    justify-content: start;
    margin: 2.5rem auto;
    align-items: center;
    width: 60%;
    text-align: center;
}

.the-food .write-up h2 {
    margin-bottom: 2rem;
}

.the-food .write-up p {
    margin: 1.75rem 0;
} 

.the-food .image {
    justify-content: end;
    width: 100%;
    height: auto;
    size: contain;
    position: center;
    overflow: hidden;
    display: flex;
    flex-wrap: none;
}

#img {
    width: 25%;
    height: auto;
    overflow: hidden;
}

#img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 850px) {
    .the-food .write-up {
        width: 85%;
    }

    .the-food .image {
        flex-direction: column;
        align-items: center;
    }

    #img {
        width: 80%;
        height: auto;
        overflow: hidden;
        margin: 0.5rem auto;
    }
}

/* the science section */

.the-science {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 3rem;
}

.the-science .write-up {
    justify-content: start;
    margin: 2.5rem auto;
    align-items: center;
    width: 60%;
    text-align: center;
}

.the-science .write-up h2 {
    margin-bottom: 2rem;
}

.the-science .write-up p {
    margin: 1.75rem 0;
}

.the-science .image {
    justify-content: end;
    width: 100%;
    height: auto;
    size: contain;
    position: center;
    overflow: hidden;
    display: flex;
    flex-wrap: none;
}

.the-science #img {
    width: 50%;
    height: auto;
    overflow: hidden;
}

@media only screen and (max-width: 850px) {
    .the-science .write-up {
        width: 85%;
    }

    .the-science .image {
        flex-direction: column;
        align-items: center;
    }
    
    .the-science #img {
        width: 85%;
        height: auto;
        overflow: hidden;
    }
}

/* about */

.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.about .write-up {
    justify-content: start;
    margin: 2.5rem auto;
    align-items: center;
    width: 60%;
    text-align: center;
}

.about .write-up h2 {
    margin-bottom: 2rem;
}

.about .write-up h4 {
    margin-bottom: 2rem;
}

.about .write-up p {
    margin: 1.75rem 0;
}

#heavy {
    font-weight: 600;
}

.about .image {
    width: 100%;
    height: auto;
    size: cover;
    position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.about #img {
    width: 100%;
    height: auto;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    max-height: 45rem;
    justify-items: center;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.cards h4 {
    margin: 1.125rem 0;
}

.cards p {
    text-align: justify;
}

#button {
    margin-top: 1.5rem;
    padding: .5rem .25rem;
    max-width: 33%;
    height: auto;
    background-color: #fff;
    color: black;
    border-radius: .3rem;
    font-weight: bold;
    text-align: center;
}

#button a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

#button a:link {
    color: black;
}

#button a:visited {
    color: black;
}

#button a:hover {
    color: darkcyan;
    background-color: aliceblue;
}

#button a:active {
    color: black;
}

.box {
    padding: 2.5rem 1rem;
    width: 33.33%;
    min-height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
}

#albert-st {
    background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url(./resources/images/leaf_wallpaper_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mouthwater-coffee {
    background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url(./resources/images/mouthwatercoffee_img.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

#market {
    background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url(./resources/images/market_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 850px) {
    .about {
        margin-bottom: 5rem;
    }

    .about .write-up {
        width: 85%;
    }

    .about #img {
        width: 85%;
        height: auto;
    }

    .cards {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: 30rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-top: 32rem;
        margin-bottom: 10rem;
    }
    
    .cards p {
        text-align: justify;
    }

    .box {
        min-width: 85%;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .box p {
        max-width: 85%;
        text-align: center;
    }

    #button {
        text-align: center;
    }
}

/* contact */

.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 3rem 0;
}

.contact .write-up {
    min-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
    text-align: left;
}

.details {
    text-align: left;
}

.contact a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.contact a:link {
    color: black;
}

.contact a:visited {
    color: black;
}

.contact a:hover {
    color: darkcyan;
}

.contact a:active {
    color: black;
}

.contact .write-up h2 {
    margin-bottom: 2rem;
}

.contact .image {
    min-width: 45%;
}

.contact #img {
    width: 85%;
    height: auto;
}

@media only screen and (max-width: 850px) {
    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 25rem;
    }

    .contact .write-up {
        margin-bottom: 3rem;
    }
}

/* footer */

footer {
    height: 6.25rem;
    width: 100%;
    background-color: rgb(36, 36, 36);
    border-top: solid black 1px;
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
